article.panel:hover {
    cursor: pointer;
    border: 1px solid black;
}

.panel h3.article-title {
    padding-bottom: 4px;
    height: auto;
    line-height: 24px;
    margin-top: 12px;
    margin-bottom: 4px;
    /*background-color: blue;*/
}

.panel div.article-entry {
    /*background-color: red; */
    height: 5ex;
    overflow: hidden;
}
